
/* j'ai fait un CSS basique, le but étant de montrer la technique pour colorer le fond de l'étoile 1 si on est sur la 1ère étoile, les étoiles 1 et 2 si on est sur la 2ème étoile, etc */
.C2etoiles{
    background:grey;
    display:inline-block;
    cursor:pointer;
}
.C2etoiles:hover{
    background:green;
}
.C2etoiles div{
    display:inline-block;
    padding:5px;
}
.C2etoiles div::after{
    content:"\002605"; /* une étoile en Unicode */
}